@model Department
<div class=" form-group">
    <label class="col-form-label" asp-for="code"> </label>
    <input asp-for="code" class="form-control" />
    <span asp-validation-for="code" class="text-danger"></span>
</div>

<div class=" form-group">
    <label class="col-form-label" asp-for="name"> </label>
    <input asp-for="name" class="form-control" />
    <span asp-validation-for="name" class="text-danger"></span>
</div>

<div class=" form-group">
    <label class="col-form-label" asp-for="dateOfCreation"> </label>
    <input asp-for="dateOfCreation" class="form-control" />
    <span asp-validation-for="dateOfCreation" class="text-danger"></span>
</div>